Resource type: {{.ResourceType}}
Logical name: {{.LogicalName}}
{{with .NaturalLanguage -}}
{{.}}
{{end}}
{{- with .ReferencedResources}}
The following resources are referenced:
{{range .}}
{{- .LogicalName}}: {{.ResourceType}}
{{end}}{{end -}}
{{- with .ReferencedVariables}}
The following variables are referenced:
{{range .}}{{.Name}}: {{.Type}}
{{end -}}{{end -}}