I'm getting the following {{ if eq (len .ErrorMessages) 1 }}error{{else}}errors{{end}} when I run `terraform validate`:
{{range .ErrorMessages}}
{{.}}
{{end}}
{{- with .ReferencedObjects}}
Here is the code I'm using for the referenced resources/variables:

```terraform
{{range .}}
{{- .TargetCode}}

{{end -}}
```
{{- end}}
Please respond with the corrected code snippet for the {{.LogicalName}} resource only. No need to include the entire file.